@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  button {
    @apply border-0 bg-transparent p-0 outline-none;
  }

  textarea,
  input {
    @apply px-4 py-2;
  }
}

.search-popup {
  --popup-max-height: 75vh;
  @apply fixed opacity-0 overflow-hidden top-[45%]  left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-lg bg-gray-900 transition-[opacity,top];

  @apply shadow-2xl border-gray-700 border-solid max-w-[400px] md:max-w-[500px] w-full;

  @apply text-sm md:text-base text-gray-200;

  @apply leading-snug;
  max-height: var(--popup-max-height);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  z-index: 100000000;
}

.search-popup__content {
  max-height: var(--popup-max-height);
}

.search-popup.show {
  @apply top-1/2 opacity-100;
}

.simplebar-scrollbar:before {
}

.search-popup.no-visible {
  @apply w-0 h-0 pointer-events-none select-none invisible border-0 left-0 p-0;
}

.btn-icon {
  @apply p-2 rounded-full relative overflow-hidden;
  @apply before:w-full before:opacity-0 before:h-full transition-all before:inset-0 before:bg-current before:block before:absolute;
  width: 1.5em;
  height: 1.5em;
}

.btn-icon:active {
  @apply before:opacity-20;
}

.btn-icon svg {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.btn-icon path,
.icon path {
  fill: currentColor;
  stroke: currentColor;
  color: inherit;
}
.chat-gpt-result {
  @apply overflow-auto max-h-[50vh];
}
.chat-gpt-result p,
.chat-gpt-result pre {
  @apply mb-3;
}
@media (prefers-color-scheme: dark) {
  .simplebar-scrollbar:before {
    @apply bg-gray-400;
  }
}
